USE [master]
GO
/****** Object:  Database [SmartMeterData.sql]    Script Date: 23/08/2020 3:30:41 AM ******/
CREATE DATABASE [SmartMeterData.sql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartMeterData.sql', FILENAME = N'C:\Users\olusegun\SmartMeterData.sql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartMeterData.sql_log', FILENAME = N'C:\Users\olusegun\SmartMeterData.sql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartMeterData.sql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartMeterData.sql]
GO
USE [SmartMeterData.sql]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/08/2020 3:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINGS]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINGS](
	[BILLINGS_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEviceId] [int] NOT NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[STAKEHOLDER_ID] [varchar](50) NOT NULL,
	[USAGE_DURATION] [datetime] NOT NULL,
	[AMOUNT_CONSUMPTION_PER_HR] [decimal](26, 25) NULL,
	[MONTHLY_DURATION_PER_HR] [decimal](26, 25) NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLINGS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billingsInfos]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billingsInfos](
	[Billings_Id] [int] IDENTITY(1,1) NOT NULL,
	[DEviceId] [int] NOT NULL,
	[Tarrif_Id] [int] NULL,
	[STAKEHOLDER_ID] [nvarchar](max) NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[USAGE_DURATION] [int] NOT NULL,
	[AMOUNT_CONSUMPTION_PER_HR] [decimal](19, 15) NOT NULL,
	[MONTHLY_DURATION_PER_HR] [decimal](19, 15) NOT NULL,
	[TIME_OF_TRANSACTION] [datetime] NOT NULL,
	[Base_Location] [varchar](max) NULL,
	[BillingMonth] [varchar](30) NULL,
 CONSTRAINT [PK_billingsInfos] PRIMARY KEY CLUSTERED 
(
	[Billings_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category5]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category5](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[isselected] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVICEINFO]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICEINFO](
	[DEVICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_ID] [int] NULL,
	[STAKEHOLDER_ID] [nvarchar](150) NULL,
	[DEVICE_NAME] [nvarchar](50) NULL,
	[IMEI_NUMBER] [nvarchar](50) NOT NULL,
	[ADDRESS] [varchar](100) NOT NULL,
	[BUS_STOP] [varchar](50) NOT NULL,
	[LGA] [varchar](70) NOT NULL,
	[STATE] [varchar](30) NOT NULL,
	[COUNTRY] [varchar](50) NULL,
	[VERIFY_ADDRESS] [varchar](2) NOT NULL,
	[DELIVERY_FLAG] [varchar](3) NOT NULL,
	[FLAG_OPERATION] [varchar](2) NOT NULL,
	[VERIFY_ADDRESS_DATE] [datetime] NOT NULL,
	[DELIVERY_FLAG_DATE] [datetime] NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deviceInfos]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviceInfos](
	[Device_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subscriber_ID] [int] NOT NULL,
	[STAKEHOLDER_ID] [nvarchar](max) NULL,
	[Imei_Number] [nvarchar](max) NULL,
	[Device_Name] [nvarchar](max) NULL,
	[TypeOfHouseStatus] [varchar](30) NULL,
	[Address] [nvarchar](max) NULL,
	[Bus_Stop] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Lga] [nvarchar](max) NULL,
	[Verify_Address] [nvarchar](5) NULL,
	[Delivery_Flag] [nvarchar](5) NULL,
	[Flag_Operation] [nvarchar](5) NULL,
	[Device_Status] [nvarchar](5) NULL,
	[Country] [nvarchar](max) NULL,
	[Transaction_Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_deviceInfos] PRIMARY KEY CLUSTERED 
(
	[Device_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IOTDeviceSmartMeter]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IOTDeviceSmartMeter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DEviceId] [int] NOT NULL,
	[messageId] [varchar](3) NULL,
	[EnergyAmountkWh] [decimal](17, 15) NULL,
	[VoltageReading] [decimal](17, 15) NULL,
	[PowerReading] [decimal](17, 15) NULL,
	[ConnectionStatus] [nvarchar](200) NULL,
	[PartitionId] [varchar](3) NULL,
	[EventProcessedUtcTime] [datetime] NULL,
	[EventEnqueuedUtcTime] [datetime] NULL,
	[StartDatetime] [datetime] NULL,
	[EndDatetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stackholderInfoModels]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stackholderInfoModels](
	[Stackholder_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sackholder_Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Date_Of_Registration] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_stackholderInfoModels] PRIMARY KEY CLUSTERED 
(
	[Stackholder_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIBER]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIBER](
	[SUBSCRIBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[PHONE] [varchar](30) NOT NULL,
	[GENDER] [varchar](2) NULL,
	[DOFB] [varchar](30) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ADDRESS] [varchar](50) NULL,
	[STATE] [varchar](30) NULL,
	[COUNTRY] [varchar](70) NULL,
	[STAKEHOLDER_ID] [varchar](150) NULL,
	[DATE_REGISTERED] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUBSCRIBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscriberInfos]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscriberInfos](
	[Subscriber_ID] [int] IDENTITY(1,1) NOT NULL,
	[STAKEHOLDER_ID] [nvarchar](max) NULL,
	[First_Name] [nvarchar](max) NULL,
	[Last_Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Dofb] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Date_Of_Registration] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_subscriberInfos] PRIMARY KEY CLUSTERED 
(
	[Subscriber_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarrifInfos]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarrifInfos](
	[Tarrif_Id] [int] IDENTITY(1,1) NOT NULL,
	[STAKEHOLDER_ID] [nvarchar](max) NULL,
	[TypeOfHouse] [varchar](max) NULL,
	[TypeOfHouseStatus] [varchar](30) NULL,
	[TarrifAmount] [decimal](18, 2) NOT NULL,
	[DateOfTarrifTransaction] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tarrifInfos] PRIMARY KEY CLUSTERED 
(
	[Tarrif_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userInfos]    Script Date: 23/08/2020 3:30:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userInfos](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_userInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200602002332_identityusers', N'3.1.4')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1d288bf4-b7f1-43cf-adbe-e80b2b25f469', N'Subcriber', N'SUBCRIBER', N'ffcd8776-14f6-4f09-ba6e-eca59467d986')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3e2c5b8f-f034-4e90-9568-b6514b36b680', N'Admin', N'ADMIN', N'd502337b-1040-4014-8e4e-2b31e22ee298')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'697cc347-7695-476c-8fe2-ebf368915a20', N'StackHolder', N'STACKHOLDER', N'accd3040-ce69-49ad-a466-a978245277a6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fec1ceb1-0803-4df3-821d-2a07afae0f0a', N'1d288bf4-b7f1-43cf-adbe-e80b2b25f469')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b0b927e5-c505-426a-931a-57eb4e18c02f', N'3e2c5b8f-f034-4e90-9568-b6514b36b680')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1b64d55e-4d21-4f06-be16-b1af5ae791a5', N'697cc347-7695-476c-8fe2-ebf368915a20')
SET IDENTITY_INSERT [dbo].[billingsInfos] ON 

INSERT [dbo].[billingsInfos] ([Billings_Id], [DEviceId], [Tarrif_Id], [STAKEHOLDER_ID], [SUBSCRIBER_ID], [USAGE_DURATION], [AMOUNT_CONSUMPTION_PER_HR], [MONTHLY_DURATION_PER_HR], [TIME_OF_TRANSACTION], [Base_Location], [BillingMonth]) VALUES (1024, 5, 4, N'ade.tunde@appleelectric.com', 6, 744, CAST(97.554529875600000 AS Decimal(19, 15)), CAST(0.131121679940322 AS Decimal(19, 15)), CAST(N'2020-06-02T03:52:15.743' AS DateTime), N'Lagos', N'May')
INSERT [dbo].[billingsInfos] ([Billings_Id], [DEviceId], [Tarrif_Id], [STAKEHOLDER_ID], [SUBSCRIBER_ID], [USAGE_DURATION], [AMOUNT_CONSUMPTION_PER_HR], [MONTHLY_DURATION_PER_HR], [TIME_OF_TRANSACTION], [Base_Location], [BillingMonth]) VALUES (1025, 5, 4, N'ade.tunde@appleelectric.com', 6, 744, CAST(97.554529875600000 AS Decimal(19, 15)), CAST(0.131121679940322 AS Decimal(19, 15)), CAST(N'2020-06-02T03:52:15.747' AS DateTime), N'Lagos', N'May')
INSERT [dbo].[billingsInfos] ([Billings_Id], [DEviceId], [Tarrif_Id], [STAKEHOLDER_ID], [SUBSCRIBER_ID], [USAGE_DURATION], [AMOUNT_CONSUMPTION_PER_HR], [MONTHLY_DURATION_PER_HR], [TIME_OF_TRANSACTION], [Base_Location], [BillingMonth]) VALUES (1028, 11, 4, N'ade.tunde@appleelectric.com', 4, 744, CAST(32.771849412660934 AS Decimal(19, 15)), CAST(0.044048184694436 AS Decimal(19, 15)), CAST(N'2020-06-02T03:52:15.750' AS DateTime), N'Lagos', N'May')
SET IDENTITY_INSERT [dbo].[billingsInfos] OFF
SET IDENTITY_INSERT [dbo].[Category5] ON 

INSERT [dbo].[Category5] ([CatId], [CategoryName], [isselected]) VALUES (1, N'Nigeria', 0)
INSERT [dbo].[Category5] ([CatId], [CategoryName], [isselected]) VALUES (2, N'Niger', 0)
INSERT [dbo].[Category5] ([CatId], [CategoryName], [isselected]) VALUES (3, N'USA', 0)
SET IDENTITY_INSERT [dbo].[Category5] OFF
SET IDENTITY_INSERT [dbo].[DEVICEINFO] ON 

INSERT [dbo].[DEVICEINFO] ([DEVICE_ID], [SUBSCRIBER_ID], [STAKEHOLDER_ID], [DEVICE_NAME], [IMEI_NUMBER], [ADDRESS], [BUS_STOP], [LGA], [STATE], [COUNTRY], [VERIFY_ADDRESS], [DELIVERY_FLAG], [FLAG_OPERATION], [VERIFY_ADDRESS_DATE], [DELIVERY_FLAG_DATE], [TRANSACTION_DATE]) VALUES (5, 4, N'ade.tunde@appleelectric.com', N'SmartTest', N'44ac3030', N'No30, Kaz Ventures Close', N'Owode', N'Owode', N'Ogun', N'Nigeria', N'Y', N'Y', N'Y', CAST(N'2020-05-09T04:24:15.980' AS DateTime), CAST(N'2020-05-09T04:24:15.980' AS DateTime), CAST(N'2020-05-09T04:24:15.980' AS DateTime))
INSERT [dbo].[DEVICEINFO] ([DEVICE_ID], [SUBSCRIBER_ID], [STAKEHOLDER_ID], [DEVICE_NAME], [IMEI_NUMBER], [ADDRESS], [BUS_STOP], [LGA], [STATE], [COUNTRY], [VERIFY_ADDRESS], [DELIVERY_FLAG], [FLAG_OPERATION], [VERIFY_ADDRESS_DATE], [DELIVERY_FLAG_DATE], [TRANSACTION_DATE]) VALUES (12, 5, N'ade.tunde@appleelectric.com', N'Smartmeter_INV', N'4458ab68', N'No13, Olambe street Ajah', N'Emmanuel', N'Ibeju Lekki', N'Lagos', N'Nigeria', N'Y', N'Y', N'Y', CAST(N'2020-05-09T07:44:00.317' AS DateTime), CAST(N'2020-05-09T07:44:00.317' AS DateTime), CAST(N'2020-05-09T07:44:00.317' AS DateTime))
INSERT [dbo].[DEVICEINFO] ([DEVICE_ID], [SUBSCRIBER_ID], [STAKEHOLDER_ID], [DEVICE_NAME], [IMEI_NUMBER], [ADDRESS], [BUS_STOP], [LGA], [STATE], [COUNTRY], [VERIFY_ADDRESS], [DELIVERY_FLAG], [FLAG_OPERATION], [VERIFY_ADDRESS_DATE], [DELIVERY_FLAG_DATE], [TRANSACTION_DATE]) VALUES (14, 6, N'ade.tunde@appleelectric.com', N'Smartmeter_ILA', N'5573yn91', N'No,54 Animashan Street Iju-Ishaga', N'Station', N'Ifako-ijaiye', N'Lagos', N'Nigeria', N'N', N'N', N'N', CAST(N'2020-05-09T14:55:47.120' AS DateTime), CAST(N'2020-05-09T14:55:47.120' AS DateTime), CAST(N'2020-05-09T14:55:47.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[DEVICEINFO] OFF
SET IDENTITY_INSERT [dbo].[deviceInfos] ON 

INSERT [dbo].[deviceInfos] ([Device_ID], [Subscriber_ID], [STAKEHOLDER_ID], [Imei_Number], [Device_Name], [TypeOfHouseStatus], [Address], [Bus_Stop], [State], [Lga], [Verify_Address], [Delivery_Flag], [Flag_Operation], [Device_Status], [Country], [Transaction_Date]) VALUES (1, 4, N'ade.tunde@appleelectric.com', N'44ac3030', N'Smartmeter_ILA', N'R2TP', N'No30, Kaz Ventures Close', N'Owode', N'Ogun', N'Owode', N'Y', N'Y', N'Y', NULL, N'Nigeria', CAST(N'2020-05-09T04:24:15.0000000' AS DateTime2))
INSERT [dbo].[deviceInfos] ([Device_ID], [Subscriber_ID], [STAKEHOLDER_ID], [Imei_Number], [Device_Name], [TypeOfHouseStatus], [Address], [Bus_Stop], [State], [Lga], [Verify_Address], [Delivery_Flag], [Flag_Operation], [Device_Status], [Country], [Transaction_Date]) VALUES (2, 5, N'ade.tunde@appleelectric.com', N'4458ab68', N'Smartmeter_INV', N'R2SP', N'No13, Olambe street Ajah', N'Emmanuel', N'Lagos', N'Ibeju Lekki', N'Y', N'Y', N'Y', NULL, N'Nigeria', CAST(N'2020-05-09T07:44:00.0000000' AS DateTime2))
INSERT [dbo].[deviceInfos] ([Device_ID], [Subscriber_ID], [STAKEHOLDER_ID], [Imei_Number], [Device_Name], [TypeOfHouseStatus], [Address], [Bus_Stop], [State], [Lga], [Verify_Address], [Delivery_Flag], [Flag_Operation], [Device_Status], [Country], [Transaction_Date]) VALUES (5, 6, N'ade.tunde@appleelectric.com', N'5573yn91', N'Smartmeter_ILA', N'R3', N'No,54 Animashan Street Iju-Ishaga', N'Magistate', N'Lagos', N'Ogba Aguda', N'N', N'N', N'N', NULL, N'Nigeria', CAST(N'2020-05-09T14:55:47.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[deviceInfos] OFF
SET IDENTITY_INSERT [dbo].[IOTDeviceSmartMeter] ON 

INSERT [dbo].[IOTDeviceSmartMeter] ([Id], [DEviceId], [messageId], [EnergyAmountkWh], [VoltageReading], [PowerReading], [ConnectionStatus], [PartitionId], [EventProcessedUtcTime], [EventEnqueuedUtcTime], [StartDatetime], [EndDatetime]) VALUES (5, 5, N'0', CAST(7.994529875600000 AS Decimal(17, 15)), CAST(9.994529875600000 AS Decimal(17, 15)), CAST(5.234452987560000 AS Decimal(17, 15)), N'2', N'0', CAST(N'2020-05-12T21:59:18.947' AS DateTime), CAST(N'2020-05-12T21:55:05.003' AS DateTime), CAST(N'2020-05-22T01:06:33.537' AS DateTime), CAST(N'2020-06-01T13:53:46.000' AS DateTime))
INSERT [dbo].[IOTDeviceSmartMeter] ([Id], [DEviceId], [messageId], [EnergyAmountkWh], [VoltageReading], [PowerReading], [ConnectionStatus], [PartitionId], [EventProcessedUtcTime], [EventEnqueuedUtcTime], [StartDatetime], [EndDatetime]) VALUES (6, 11, N'0', CAST(32.771849412660934 AS Decimal(17, 15)), CAST(44.222452987560000 AS Decimal(17, 15)), CAST(71.222452987560000 AS Decimal(17, 15)), N'1', N'0', CAST(N'2020-05-12T21:59:18.947' AS DateTime), CAST(N'2020-05-12T21:52:34.167' AS DateTime), CAST(N'2020-12-28T00:43:56.287' AS DateTime), CAST(N'2020-09-20T14:57:55.527' AS DateTime))
INSERT [dbo].[IOTDeviceSmartMeter] ([Id], [DEviceId], [messageId], [EnergyAmountkWh], [VoltageReading], [PowerReading], [ConnectionStatus], [PartitionId], [EventProcessedUtcTime], [EventEnqueuedUtcTime], [StartDatetime], [EndDatetime]) VALUES (7, 11, N'0', CAST(73.452987560000000 AS Decimal(17, 15)), CAST(12.615263401100000 AS Decimal(17, 15)), CAST(24.149016987828777 AS Decimal(17, 15)), N'2', N'0', CAST(N'2020-05-12T21:59:18.947' AS DateTime), CAST(N'2020-05-12T21:53:49.470' AS DateTime), CAST(N'2020-06-05T01:41:43.903' AS DateTime), CAST(N'2020-12-28T12:12:11.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[IOTDeviceSmartMeter] OFF
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] ON 

INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [FIRST_NAME], [LAST_NAME], [PHONE], [GENDER], [DOFB], [EMAIL], [ADDRESS], [STATE], [COUNTRY], [STAKEHOLDER_ID], [DATE_REGISTERED]) VALUES (4, N'Ladi', N'Tiwa', N'08023045556', N'F', N'09/10/1984', N'tiwaprecious@gmail.com', N'No2,Lamidi Str Mushin', N'Lagos', N'Nigeria', N'ade.tunde@appleelectric.com', CAST(N'2020-04-09T08:05:10.847' AS DateTime))
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [FIRST_NAME], [LAST_NAME], [PHONE], [GENDER], [DOFB], [EMAIL], [ADDRESS], [STATE], [COUNTRY], [STAKEHOLDER_ID], [DATE_REGISTERED]) VALUES (5, N'Joseph', N'Lasons', N'08067041115', N'M', N'09/10/1978', N'lason@gmail.com', N'No3, Sobiye St Adebimpe Opeilu', N'Lagos', N'Nigeria', N'ade.tunde@appleelectric.com', CAST(N'2020-04-10T00:15:24.370' AS DateTime))
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [FIRST_NAME], [LAST_NAME], [PHONE], [GENDER], [DOFB], [EMAIL], [ADDRESS], [STATE], [COUNTRY], [STAKEHOLDER_ID], [DATE_REGISTERED]) VALUES (6, N'Jimmy', N'Klestron', N'08023060678', N'M', N'02/10/1978', N'klestron@yahoo.com', N'no30,Abule Str, Apapa', N'Lagos', N'Nigeria', N'ade.tunde@appleelectric.com', CAST(N'2020-04-10T02:30:02.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] OFF
SET IDENTITY_INSERT [dbo].[subscriberInfos] ON 

INSERT [dbo].[subscriberInfos] ([Subscriber_ID], [STAKEHOLDER_ID], [First_Name], [Last_Name], [Phone], [Gender], [Dofb], [Email], [Address], [State], [Country], [Date_Of_Registration], [UserId]) VALUES (2, N'ade.tunde@appleelectric.com', N'Ladi', N'Fani', N'08064083334', N'M', N'12/08/1983', N'fani23@gmail.com', N'No27,Olowu bolade, Oshodi', N'Lagos', N'Nigeria', CAST(N'2020-06-02T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[subscriberInfos] ([Subscriber_ID], [STAKEHOLDER_ID], [First_Name], [Last_Name], [Phone], [Gender], [Dofb], [Email], [Address], [State], [Country], [Date_Of_Registration], [UserId]) VALUES (3, N'ade.tunde@appleelectric.com', N'Sintia', N'Krin', N'08123654433', N'F', N'03/23/1956', N'sinsia@yahoo.com', N'No14,Amina str,Fagba', N'Lagos', N'Nigeria', CAST(N'2020-05-24T20:40:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[subscriberInfos] ([Subscriber_ID], [STAKEHOLDER_ID], [First_Name], [Last_Name], [Phone], [Gender], [Dofb], [Email], [Address], [State], [Country], [Date_Of_Registration], [UserId]) VALUES (4, N'ade.tunde@appleelectric.com', N'Audu', N'Ade', N'08095458699', N'M', N'09/20/1968', N'ade30@yahoo.com', N'N013,KingstenJones Apapa', N'Lagos', N'Nigeria', CAST(N'2020-05-30T11:34:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[subscriberInfos] OFF
SET IDENTITY_INSERT [dbo].[tarrifInfos] ON 

INSERT [dbo].[tarrifInfos] ([Tarrif_Id], [STAKEHOLDER_ID], [TypeOfHouse], [TypeOfHouseStatus], [TarrifAmount], [DateOfTarrifTransaction]) VALUES (1, N'ade.tunde@appleelectric.com', N'Residential Single Phase', N'R2SP', CAST(21.30 AS Decimal(18, 2)), CAST(N'2020-08-14T08:10:37.2400000' AS DateTime2))
INSERT [dbo].[tarrifInfos] ([Tarrif_Id], [STAKEHOLDER_ID], [TypeOfHouse], [TypeOfHouseStatus], [TarrifAmount], [DateOfTarrifTransaction]) VALUES (3, N'ade.tunde@appleelectric.com', N'Residential Tripple Phase', N'R2TP', CAST(21.80 AS Decimal(18, 2)), CAST(N'2020-06-05T02:52:09.1966667' AS DateTime2))
INSERT [dbo].[tarrifInfos] ([Tarrif_Id], [STAKEHOLDER_ID], [TypeOfHouse], [TypeOfHouseStatus], [TarrifAmount], [DateOfTarrifTransaction]) VALUES (4, N'ade.tunde@appleelectric.com', N'Residential Dedicated Transformer 500KVA', N'R3', CAST(36.49 AS Decimal(18, 2)), CAST(N'2020-06-05T02:54:19.1633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tarrifInfos] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_stackholderInfoModels_UserId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_stackholderInfoModels_UserId] ON [dbo].[stackholderInfoModels]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_subscriberInfos_UserId]    Script Date: 23/08/2020 3:30:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_subscriberInfos_UserId] ON [dbo].[subscriberInfos]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[billingsInfos] ADD  DEFAULT (getdate()) FOR [TIME_OF_TRANSACTION]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT ('F') FOR [VERIFY_ADDRESS]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT ('N') FOR [DELIVERY_FLAG]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT ('N') FOR [FLAG_OPERATION]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT (getdate()) FOR [VERIFY_ADDRESS_DATE]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT (getdate()) FOR [DELIVERY_FLAG_DATE]
GO
ALTER TABLE [dbo].[DEVICEINFO] ADD  DEFAULT (getdate()) FOR [TRANSACTION_DATE]
GO
ALTER TABLE [dbo].[SUBSCRIBER] ADD  DEFAULT (getdate()) FOR [DATE_REGISTERED]
GO
ALTER TABLE [dbo].[tarrifInfos] ADD  DEFAULT (getdate()) FOR [DateOfTarrifTransaction]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[stackholderInfoModels]  WITH CHECK ADD  CONSTRAINT [FK_stackholderInfoModels_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[stackholderInfoModels] CHECK CONSTRAINT [FK_stackholderInfoModels_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[subscriberInfos]  WITH CHECK ADD  CONSTRAINT [FK_subscriberInfos_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[subscriberInfos] CHECK CONSTRAINT [FK_subscriberInfos_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Billings]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Billings]
							    @BillingsId int 
                               AS
	                            BEGIN
	                               set nocount on
	                               DELETE FROM dbo.billingsInfos 
	                               WHERE Billings_Id = @BillingsId
	                            END

GO
/****** Object:  StoredProcedure [dbo].[Delete_Devices]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Devices]
							@device_Id int 

AS
	BEGIN
	   set nocount on
	   DELETE FROM dbo.deviceInfos 
	   WHERE Device_ID = @device_Id
	END

GO
/****** Object:  StoredProcedure [dbo].[GetAllBillings_BySubscriberId]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBillings_BySubscriberId]
                                    @Subscriber_ID  INT
									
					AS
					Begin                                

							Select bi.Billings_Id,bi.DEviceId,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
							On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
										
							WHERE bi.SUBSCRIBER_ID = @Subscriber_ID
					End
GO
/****** Object:  StoredProcedure [dbo].[GetAllBillings_BySubscriberId_CurrentMonth]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBillings_BySubscriberId_CurrentMonth]
                                    @Subscriber_ID  INT
									
					AS
					Begin                                

							Select bi.Billings_Id,bi.DEviceId,bi.BillingMonth,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
							On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
										
							WHERE bi.SUBSCRIBER_ID = @Subscriber_ID AND bi.BillingMonth = (Select(DateName(MONTH,GETDATE())) as BillingMonth)
					End
GO
/****** Object:  StoredProcedure [dbo].[GetAllBillings_BySubscriberIdMonth]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBillings_BySubscriberIdMonth]
                                    @Subscriber_ID  INT
									,@billingMonth  VARCHAR(50)
									
	AS
	Begin   
	


	--SET @billingMonth = (Select(DateName(MONTH,GETDATE())))

							Select Top(3) bi.Billings_Id,bi.DEviceId,bi.BillingMonth,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
							On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
										
							WHERE (bi.SUBSCRIBER_ID = @Subscriber_ID AND bi.BillingMonth = @billingMonth )
							ORDER BY bi.Billings_Id desc
					End
GO
/****** Object:  StoredProcedure [dbo].[GetAllBillings_FirstThreeMonth]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBillings_FirstThreeMonth]
									@Subscriber_ID  INT
	AS
	Begin   
	


	--SET @billingMonth = (Select(DateName(MONTH,GETDATE())))

							Select Top(3) bi.Billings_Id,bi.DEviceId,bi.BillingMonth,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
							On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
										
							WHERE (bi.SUBSCRIBER_ID = @Subscriber_ID  )
							ORDER BY bi.Billings_Id desc
					End
GO
/****** Object:  StoredProcedure [dbo].[GetAllTotal_EnergyConsumedMonthly]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTotal_EnergyConsumedMonthly]
									@Stakeholder_ID  VARCHAR(150)
	AS
	BEGIN   

		SELECT SUM(AMOUNT_CONSUMPTION_PER_HR) AS EnergyConsumedFor30Days , BillingMonth
		FROM dbo.billingsInfos 									
		WHERE (STAKEHOLDER_ID = @Stakeholder_ID  )
		GROUP BY BillingMonth,AMOUNT_CONSUMPTION_PER_HR
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBillings_ById]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillings_ById]
							    @BillingsId int 
                                AS
                                BEGIN
                                    set nocount on
                                        Select DEviceId,SUBSCRIBER_ID,STAKEHOLDER_ID,USAGE_DURATION,MONTHLY_DURATION_PER_HR,AMOUNT_CONSUMPTION_PER_HR,TIME_OF_TRANSACTION
	                                    From dbo.billingsInfos
                                    WHERE Billings_Id = @BillingsId
                                END

GO
/****** Object:  StoredProcedure [dbo].[GetBillingswithId]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBillingswithId]
	                        @Billing_Id  INT
									
					AS
					Begin                                

							Select bi.Billings_Id,bi.DEviceId,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
							On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
										
							WHERE bi.Billings_Id = @Billing_Id
					End
GO
/****** Object:  StoredProcedure [dbo].[GetDevices_ById]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDevices_ById]
							@Device_Id int 
AS
BEGIN
   set nocount on
   SELECT Device_ID,Subscriber_ID,STAKEHOLDER_ID,Imei_Number,Device_Name,[Address],Bus_Stop,[State],Country,Lga,Verify_Address,Delivery_Flag,Flag_Operation,Transaction_Date 
   FROM dbo.deviceInfos 
   WHERE Device_ID = @Device_Id
END

GO
/****** Object:  StoredProcedure [dbo].[GetPayments_BySubscriberId]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPayments_BySubscriberId]
                               @Subscriber_ID  INT
									
AS
	BEGIN      
		SELECT bi.Billings_Id,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) AS AmountToPay ,si.First_Name,si.Last_Name,si.Phone 
				
		FROM dbo.billingsInfos bi INNER JOIN dbo.subscriberInfos si 

		ON si.Subscriber_ID = bi.SUBSCRIBER_ID INNER JOIN dbo.tarrifInfos ti 

		ON (ti.Tarrif_Id = bi.Tarrif_Id AND ti.STAKEHOLDER_ID = si.STAKEHOLDER_ID) 
										
		WHERE bi.SUBSCRIBER_ID = @Subscriber_ID
    END
GO
/****** Object:  StoredProcedure [dbo].[GetSubscriber_ById]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSubscriber_ById]
							        @Subscriber_Id int 
                                    AS
                                    BEGIN
                                       set nocount on
                                       SELECT  SUBSCRIBER_ID,STAKEHOLDER_ID,FIRST_NAME,LAST_NAME,PHONE,GENDER,DOFB,EMAIL,ADDRESS,STATE,COUNTRY
                                       FROM dbo.SUBSCRIBER 
                                       WHERE SUBSCRIBER_ID = @Subscriber_Id
                                    END

GO
/****** Object:  StoredProcedure [dbo].[GetSubscriber_ByloginId]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSubscriber_ByloginId]
							@Email varchar(200) 
AS
BEGIN
   set nocount on
  SELECT si.Subscriber_ID FROM dbo.subscriberInfos si inner join AspNetUsers an ON si.UserId = an.Id
  WHERE an.Email =  @Email
END

GO
/****** Object:  StoredProcedure [dbo].[GetTarrifs_ById]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTarrifs_ById]
							@Tarrif_Id INT 
AS
BEGIN
   set nocount on
   SELECT Tarrif_Id,STAKEHOLDER_ID,TarrifAmount,TypeOfHouse 
   FROM dbo.tarrifInfos 
   WHERE Tarrif_Id = @Tarrif_Id
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Select_AllBillings]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Select_AllBillings]	
	                            @Subscriber_ID             INT,
	                            @STAKEHOLDER_ID            VARCHAR(50),
	                            @USAGE_DURATION            INT,
	                            @MONTHLY_DURATION_PER_HR   DECIMAL(17,15),
	                            @AMOUNT_CONSUMPTION_PER_HR DECIMAL(17,15)	
                                AS
                                Begin
	                               
	                                Insert into dbo.billingsInfos(SUBSCRIBER_ID,STAKEHOLDER_ID,USAGE_DURATION,MONTHLY_DURATION_PER_HR,AMOUNT_CONSUMPTION_PER_HR)
	                                Values(@Subscriber_ID,@STAKEHOLDER_ID, @USAGE_DURATION,@MONTHLY_DURATION_PER_HR,@AMOUNT_CONSUMPTION_PER_HR )	            
                                End

GO
/****** Object:  StoredProcedure [dbo].[Insert_Select_AllDevices]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Select_AllDevices]
	--@Device_ID INT,
	@Subscriber_ID INT,
	@STAKEHOLDER_ID VARCHAR(50),
	@Imei_Number VARCHAR(50),
	@Device_Name VARCHAR(50),
	@Address Varchar(50),
	@Bus_Stop Varchar(50),
	@Verify_Address Varchar(2),
	@Delivery_Flag Varchar(3),
	@Flag_Operation Varchar(2),
	@State VARCHAR(30),
	@Lga Varchar(70),
	@Country  Varchar(50)
AS
Begin
 --if not exists(select 1 from dbo.deviceInfos where Subscriber_ID = @Subscriber_ID)
	Begin
	Insert into dbo.deviceInfos(Subscriber_ID,STAKEHOLDER_ID,Imei_Number,Device_Name,[Address],Bus_Stop,[State],Country,Lga,Verify_Address,Delivery_Flag,Flag_Operation,Transaction_Date )
	Values(@Subscriber_ID,@STAKEHOLDER_ID, @Imei_Number,@Device_Name,@Address,@Bus_Stop,@State,@Lga,@Verify_Address,@Delivery_Flag,@Flag_Operation,@Country,GetDate() )
	End
End

GO
/****** Object:  StoredProcedure [dbo].[Insert_Select_AllSubscribers]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Select_AllSubscribers]
	@STAKEHOLDER_ID VARCHAR(150),
	@First_Name VARCHAR(50),
	@Last_Name VARCHAR(50),
	@Phone Varchar(30),
	@Gender Varchar(30),
	@Dofb VARCHAR(30),
	@Email VARCHAR(50),
	@Address Varchar(50),
	@State VARCHAR(30),
	@Country Varchar(70)
AS
Begin
 if not exists(select 1 from dbo.SUBSCRIBER where EMAIL = @Email)
	Begin
	Insert into dbo.subscriberInfos(STAKEHOLDER_ID,First_Name,Last_Name,Phone,Gender,Dofb,Email,[Address],[State],Country,Date_Of_Registration)
	Values(@STAKEHOLDER_ID, @First_Name,@Last_Name,@Phone,@Gender,@Dofb,@Email,@Address,@State,@Country,GETDATE() )
	End
End

GO
/****** Object:  StoredProcedure [dbo].[Insert_Select_Tarrifs]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Select_Tarrifs]
	--@Device_ID INT,
	--@Tarrif_Id INT,
	@STAKEHOLDER_ID VARCHAR(50),
	@TarrifAmount DECIMAL(18,2),
	@TypeOfHouse VARCHAR(50)
AS
Begin
 --if not exists(select 1 from dbo.deviceInfos where Subscriber_ID = @Subscriber_ID)
	Begin
	Insert into dbo.tarrifInfos(STAKEHOLDER_ID,TarrifAmount,TypeOfHouse,DateOfTarrifTransaction)
	Values(@STAKEHOLDER_ID, @TarrifAmount,@TypeOfHouse,GetDate() )
	End
End
GO
/****** Object:  StoredProcedure [dbo].[Insert_SelectEnergyConsumed]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[Insert_SelectEnergyConsumed]
											( @DeviceId				  INT
											,@StartDate           DATETIME
											,@EndDate             DATETIME
											,@Billings_Id		  INT OUT) AS

BEGIN

  --BEGIN TRY

  DECLARE @TotalTimeOfUsageInHrs	    INT;
  DECLARE @ConnectedTimeOfUsageInHrs    INT;
  DECLARE @DisconnectedTimeOfUsageInHrs INT;
  DECLARE @Tarrif_id                    INT;
  DECLARE @TotalEnergyConsumePerHr		DECIMAL(19,15);
  DECLARE @EnergyAmountConsumedIn30days DECIMAL(19,15);
  DECLARE @Subscriber_ID                INT;
  DECLARE @STAKEHOLDER_ID               VARCHAR(50);
  DECLARE @TypeOfHousestatus            VARCHAR(30);
  DECLARE @Base_Location                VARCHAR(MAX);
  DECLARE @billingMonth                 VARCHAR(MAX);



	

	SELECT @Subscriber_ID = Subscriber_ID
	      ,@Base_Location = State
		  ,@TypeOfHousestatus = TypeOfHouseStatus
	      ,@STAKEHOLDER_ID = STAKEHOLDER_ID
 	  FROM dbo.deviceInfos WITH (NOLOCK)
	 WHERE Device_ID = @DeviceId;



	 SELECT @Tarrif_id = Tarrif_Id 
	 FROM dbo.tarrifInfos WITH (NOLOCK)
	 WHERE STAKEHOLDER_ID = @STAKEHOLDER_ID AND TypeOfHouseStatus = @TypeOfHousestatus;
	 

								--SELECT @Subscriber_ID = SUBSCRIBER_ID
								--      ,@STAKEHOLDER_ID = STAKEHOLDER_ID
							 --	  FROM dbo.DEVICEINFO WITH (NOLOCK)
								-- WHERE DEVICE_ID = @DEviceId;

	SELECT  @ConnectedTimeOfUsageInHrs = (SUM(datepart(HH,EventProcessedUtcTime )) )   from dbo.IOTDeviceSmartMeter 
    WHERE (DEviceId = @DeviceId AND ConnectionStatus = '2' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
    GROUP BY DEviceId

	SELECT  @DisconnectedTimeOfUsageInHrs = (SUM(datepart(HH,EventProcessedUtcTime )) )   from dbo.IOTDeviceSmartMeter 
    WHERE (DEviceId = @DeviceId AND ConnectionStatus = '1' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
    GROUP BY DEviceId

	 SET @TotalTimeOfUsageInHrs = (@ConnectedTimeOfUsageInHrs - @DisconnectedTimeOfUsageInHrs)

	--IF (@ConnectedTimeOfUsageInHrs > @DisconnectedTimeOfUsageInHrs) 	  	
 --   BEGIN 

	--    SET @TotalTimeOfUsageInHrs = @ConnectedTimeOfUsageInHrs - @DisconnectedTimeOfUsageInHrs
 --   END

	--IF (@DisconnectedTimeOfUsageInHrs > @ConnectedTimeOfUsageInHrs) 	  	
 --   BEGIN 

	--    SET @TotalTimeOfUsageInHrs = 0
 --   END

      SET @billingMonth = (Select(DateName(MONTH,GETDATE())))
	 
	SELECT  PartitionId, SUM(EnergyAmountkWh) AS TotalEnergyConsumePerHr,DEviceId,
	((SUM(EnergyAmountkWh))/(NULLIF(@TotalTimeOfUsageInHrs,0))) As EnergyAmountConsumedIn30days  FROM dbo.IOTDeviceSmartMeter
	WHERE (DEviceId = @DeviceId AND ConnectionStatus = '2' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
	GROUP BY DEviceId, PartitionId

	SELECT   @TotalEnergyConsumePerHr = SUM(EnergyAmountkWh) ,@DeviceId = DEviceId ,
	@EnergyAmountConsumedIn30days = ((SUM(EnergyAmountkWh))/(NULLIF(@TotalTimeOfUsageInHrs,0))) FROM dbo.IOTDeviceSmartMeter
	WHERE (DEviceId = @DeviceId AND ConnectionStatus = '2' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
	GROUP BY DEviceId, PartitionId	

	IF (@TotalTimeOfUsageInHrs < 0)	
    BEGIN 
	SET @TotalTimeOfUsageInHrs = 0

	SELECT  PartitionId, SUM(EnergyAmountkWh) AS TotalEnergyConsumePerHr,DEviceId,
	((SUM(EnergyAmountkWh))/(NULLIF(@TotalTimeOfUsageInHrs,0))) As EnergyAmountConsumedIn30days FROM dbo.IOTDeviceSmartMeter
    WHERE (DEviceId = @DeviceId AND ConnectionStatus = '2' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
	GROUP BY DEviceId, PartitionId

	SELECT   @TotalEnergyConsumePerHr = SUM(EnergyAmountkWh) ,@DeviceId = DEviceId ,
	@EnergyAmountConsumedIn30days = ((SUM(EnergyAmountkWh))/(NULLIF(@TotalTimeOfUsageInHrs,0))) FROM dbo.IOTDeviceSmartMeter
	WHERE (DEviceId = @DeviceId AND ConnectionStatus = '2' AND (EventProcessedUtcTime >= @StartDate AND EventProcessedUtcTime <= @EndDate ))
	GROUP BY DEviceId, PartitionId	
	END

	IF (@TotalEnergyConsumePerHr > 0) 	  	
    BEGIN 
		INSERT INTO dbo.billingsInfos(DEviceId,Tarrif_Id,STAKEHOLDER_ID,SUBSCRIBER_ID,USAGE_DURATION,AMOUNT_CONSUMPTION_PER_HR,MONTHLY_DURATION_PER_HR,Base_Location,BillingMonth)
		VALUES (@DeviceId,@Tarrif_id,@STAKEHOLDER_ID,@Subscriber_ID,@TotalTimeOfUsageInHrs,@TotalEnergyConsumePerHr,@EnergyAmountConsumedIn30days,@Base_Location,@billingMonth)
	 SET @Billings_Id = @@IDENTITY;
	END
END

GO
/****** Object:  StoredProcedure [dbo].[Select_AllBillings]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_AllBillings]
							@startDate date,
							@endDate date						
                           AS
                        Begin
                                  
								Select bi.Billings_Id,bi.DEviceId,bi.TIME_OF_TRANSACTION,bi.STAKEHOLDER_ID,bi.SUBSCRIBER_ID,bi.USAGE_DURATION,bi.AMOUNT_CONSUMPTION_PER_HR as EnergyConsumedFor30Days,di.TypeOfHouseStatus ,(bi.AMOUNT_CONSUMPTION_PER_HR * ti.[TarrifAmount] ) as AmountToPay ,di.Device_Name,di.Lga,di.Bus_Stop From dbo.billingsInfos bi inner join dbo.deviceInfos di 
								On di.Device_ID = bi.DEviceId inner join dbo.tarrifInfos ti On (ti.Tarrif_Id = bi.Tarrif_Id And ti.STAKEHOLDER_ID = di.STAKEHOLDER_ID) 
								Where 1 = 1
								Or(TIME_OF_TRANSACTION <= @endDate And @endDate < TIME_OF_TRANSACTION)
	                            Or(TIME_OF_TRANSACTION <= @startDate And @startDate < TIME_OF_TRANSACTION)
	                            Order by bi.TIME_OF_TRANSACTION Desc
                        End
GO
/****** Object:  StoredProcedure [dbo].[Select_AllDevices]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_AllDevices]
                        @startDate date,
						@endDate date
						
AS

Begin	


     Select Device_ID,Subscriber_ID,STAKEHOLDER_ID,Imei_Number,Device_Name,[Address],Bus_Stop,[State],Country,Lga,Verify_Address,Delivery_Flag,Flag_Operation,Transaction_Date 
	 From dbo.deviceInfos Where 1 = 1
	 Or(Transaction_Date <= @endDate And @endDate < Transaction_Date)
	 Or(Transaction_Date <= @startDate And @startDate < Transaction_Date)
	 Order By Device_ID  Desc
	

End

GO
/****** Object:  StoredProcedure [dbo].[Select_AllIOTDeviceSmartMeter]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_AllIOTDeviceSmartMeter]
                        @startDate date,
						@endDate date
						
AS

Begin	


     Select Id,DEviceId,EnergyAmountkWh,VoltageReading,PowerReading,ConnectionStatus,StartDatetime,EndDatetime 
	 From dbo.IOTDeviceSmartMeter Where 1 = 1
	 Or(EndDatetime <= @endDate And @endDate < EndDatetime)
	 Or(StartDatetime <= @startDate And @startDate < StartDatetime)
	 Order By DEviceId  Desc
	

End

GO
/****** Object:  StoredProcedure [dbo].[Select_AllSubscriber]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_AllSubscriber]
                        @startDate date,
						@endDate date
						
AS

	DECLARE @email varchar(50);
Begin	


     Select Subscriber_ID, STAKEHOLDER_ID,First_Name,Last_Name,Phone,Gender,Dofb,Email,[Address],[State],Country,Date_Of_Registration 
	 From dbo.subscriberInfos Where 1 = 1
	 Or(Date_Of_Registration <= @endDate And @endDate < Date_Of_Registration)
	 Or(Date_Of_Registration <= @startDate And @startDate < Date_Of_Registration)
	 Or(EMAIL = @email )
	 Order By Subscriber_ID  Desc
	

End

GO
/****** Object:  StoredProcedure [dbo].[Select_IOTMonthlySmartMeter]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_IOTMonthlySmartMeter]
                      @ConnectionStatus varchar(5)
						
AS

Begin	
			 SELECT iod.Id,iod.DEviceId,iod.ConnectionStatus,bi.USAGE_DURATION,iod.EventEnqueuedUtcTime,iod.EventProcessedUtcTime 
			 FROM dbo.IOTDeviceSmartMeter iod inner join dbo.billingsInfos bi ON iod.DEviceId = bi.DEviceId 
			 WHERE ConnectionStatus = @ConnectionStatus
			 ORDER BY iod.DEviceId  DESC
	

End

GO
/****** Object:  StoredProcedure [dbo].[Select_IOTUsageSmartMeter]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_IOTUsageSmartMeter]
                        @ConnectionStatus varchar(5)
						
AS

Begin	


     Select Id,DEviceId,EnergyAmountkWh,ConnectionStatus,EventEnqueuedUtcTime,EventProcessedUtcTime 
	 From dbo.IOTDeviceSmartMeter Where ConnectionStatus = @ConnectionStatus
	 Order By DEviceId  Desc
	

End

GO
/****** Object:  StoredProcedure [dbo].[Update_Billings]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Billings]
                                @BillingsID				   INT,
								@Device_ID				   INT,
								@Subscriber_ID			   INT,
								@STAKEHOLDER_ID			   VARCHAR(50),
								@USAGE_DURATION			   INT,
								@MONTHLY_DURATION_PERHR    DECIMAL(17,15),
								@AMOUNT_CONSUMPTION_PER_HR DECIMAL(17,15)
                            AS
	                            BEGIN
		                              set nocount on;
		                              UPDATE dbo.billingsInfos
		                              SET   SUBSCRIBER_ID					=  @Subscriber_ID
			                               ,STAKEHOLDER_ID					= @STAKEHOLDER_ID
			                               ,DEviceId						= @Device_ID
			                               ,USAGE_DURATION                  = @USAGE_DURATION
			                               ,MONTHLY_DURATION_PER_HR	        = @MONTHLY_DURATION_PERHR
			                               ,AMOUNT_CONSUMPTION_PER_HR       = @AMOUNT_CONSUMPTION_PER_HR
			                               WHERE Billings_Id   = @BillingsID
	                            END

GO
/****** Object:  StoredProcedure [dbo].[Update_DevicesDetails]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_DevicesDetails]
								@Device_ID INT,
								@Subscriber_ID INT,
								@STAKEHOLDER_ID VARCHAR(50),
								@Imei_Number VARCHAR(50),
								@Device_Name VARCHAR(50),
								@Address Varchar(50),
								@Bus_Stop Varchar(50),
								@State VARCHAR(30),
								@Lga Varchar(70),
								@Verify_Address Varchar(2),
								@Delivery_Flag Varchar(3),
								@Flag_Operation Varchar(2),								
								@Country  Varchar(50)
AS
	BEGIN
		  set nocount on;
		  UPDATE dbo.deviceInfos
		  SET   Subscriber_ID =  @Subscriber_ID
			   ,STAKEHOLDER_ID = @STAKEHOLDER_ID
			   ,Imei_Number    = @Imei_Number
			   ,Device_Name    = @Device_Name
			   ,[Address]	   = @Address
			   ,Bus_Stop       = @Bus_Stop
			   ,[State]        = @State
			   ,Lga            = @Lga
			   ,Verify_Address = @Verify_Address
			   ,Delivery_Flag  = @Delivery_Flag
			   ,Flag_Operation = @Flag_Operation			  
			   ,Country        = @Country
		  WHERE Device_ID = @Device_ID;

	END

GO
/****** Object:  StoredProcedure [dbo].[Update_TarrifDetails]    Script Date: 23/08/2020 3:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_TarrifDetails]
								@Tarrif_Id INT,
								@STAKEHOLDER_ID VARCHAR(50),
								@TarrifAmount DECIMAL(18,2),
								@TypeOfHouse VARCHAR(50)
AS
	BEGIN
		  set nocount on;
		  UPDATE dbo.tarrifInfos
		  SET   STAKEHOLDER_ID			= @STAKEHOLDER_ID
			   ,TarrifAmount			= @TarrifAmount
			   ,TypeOfHouse				= @TypeOfHouse
			   ,DateOfTarrifTransaction = GetDate()
		  WHERE Tarrif_Id = @Tarrif_Id;

	END
GO
USE [master]
GO
